* {
    box-sizing: border-box;
    font-family: "Lato", "Helvetica", sans-serif;
}

html {
    height: 100%;
    background-color: antiquewhite;
}

header {
    text-align: center;
}

main {
    display:flex;
    flex-direction: column;
}

.container {
    border: solid black 1px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    width: 50%;
    padding: 1rem;
    margin: 1rem auto;
}

.container h2 {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

p, a {
    font-family: 'Nunito Sans', 'Helvetica', sans-serif;
}

section > p {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    color: blue;
    display: block;
}

a:hover {
    color:purple;
}



