@media (min-width: 768px) {
    .navigation-buttons {
        margin-top: 1rem;
        width: 100%;
        background-color: #DBCEB4 !important;
    }
    section {
        flex-basis: 28%;
    }

    /* left side of the screen, section with the description */
    section.preview-tab{
        flex-basis: 300px;
        padding: 1em;
        background-color: #F5F2EB;
        display: block;
        background-color: black;
    }
  
    .flexbox-container {
        display: flex;
        height: 100vh;
        flex-direction: row;
    }
    .preview-tab-splitter {
        background-color: black;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .preview-header{
        margin-top: 2rem;
    }
    section.creation-preview {
        flex-grow: 1;
        background-color: white;
    }
    
    .view-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 300px;
        box-sizing: auto;
    
    }
    
    .preview-header h1 {
        margin-left:5vh;
        padding-top: 1rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }
    .preview-container {
        display: flex;
        flex-direction: column;
    }
    
    .preview-paper {
        width: auto;
        height: auto;
        background-color: #F5F2EB;
        border-radius: 10px;
        margin-left: 2rem;
        margin-right: 1rem;
        box-shadow: 0px 0px 5px #000000;
    }
    
    .preview-paper-words {
        font-size: 24px;
        padding: 1rem;
    }
    
    .description{
        box-sizing: border-box;
        border: 1px solid #726D6D;    
        background-color: white;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
    }
    
    .description li{
        list-style-type: none;
    }

}