*{
    box-sizing: border-box;
}
body{
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

main{
    display: flex;
    flex: 1;
    padding-top: 10rem;
  }
  
html{
    height: 100%;
}

main> div{
    display: flex;
    height: 100vh;
}

/* lest side of the screen, section with the search bar */
section:nth-of-type(1){
    flex-basis: 300px;
    padding: 1em;
    background-color: #F5F2EB;

}
  
/* right side of the screan, section with the cards */
section:nth-of-type(2){
    flex: 1; 
    padding: 1em;
}


/* css for the search bar on the left side of the explore page */
.search-bar{
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    padding: .75rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.history{
    display: flex;
    padding: 1rem;
    border-top: 1px solid #726D6D;
}

.history a {
    color: black;
    text-decoration: none;
    flex-grow: 3; 
    flex-shrink: 0; 
}

.history a:hover {
    color: #8b8371;
}

.history .search-history{
    text-decoration: underline;
}

.delete{
    text-align: right;
}

/* this section is for the buttons at the top of the explore page */
/* New Lit, Poems, both, Filter, and Sort */
.filter-sort{
    position: static;
    /* fixed to the top-right corner */
    top: 4rem;
    right: 0;
    background-color: white;
    text-align: center;
}

.filter-buttons{
    display: inline-block;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23) ;
    margin: 1.5rem;
    background-color: #F5F2EB;
    border: 1px solid #726D6D;    
    color: black;
    text-decoration: none;
}
.form-select.filter-buttons{
    width: 9rem;
}

.filter-buttons.active{
    background-color: #DBCEB4 !important;
    border: 1px solid #726D6D;
}

.filter-buttons:hover{
    background-color: #DBCEB4;
}

/* filter dropdown checklist */
.filter-check li{
    text-align: left;
    list-style: none;
}

.filter-check input {
    margin: 0.5rem;
}

.filter-check {
    display: inline-block;
}
  
.filter-check .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
}
  
  
.filter-check .anchor:active:after {
    right: 8px;
    top: 21%;
}
  
  
  

/* for the cards of text, the lit and poems with descriptions */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23) ;
    margin: 1rem;
    background-color: #F5F2EB;
    border: 1px solid #726D6D;
    height: 75%;
}


.lit{
    padding: 1rem;
    box-sizing: auto;
}

.description{
    background-color: #DBCEB4;
    border-top: 1px solid #726D6D;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-radius: 0 0 9px 9px;
    color: black;
}

.description li{
    list-style-type: none;
}
.card a{
    text-decoration: none;
} 
.card a:hover{
    text-decoration: none;
    color: inherit;
} 

/* blacks out text on the poem cards */
em{
    background-color: black;
    padding-right: .25rem;
    padding-left: .25rem;    
}

