* {
    background-color: #F5F2EB;
}


img {
    height: fit-content;
    width: auto;
    width: max-content;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .index {
    list-style-type: none;
    font-family: "Serif";
    font: "Times new Romans";
    font-size: 7rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
  }

  .container:hover{
    background: black;
    background-size: 0.5rem;
    opacity: 1;
    color: #6e887c;
    padding: 0.5rem;

}