main.index {
  padding: 0;
}

html.index {
  width: 100%;
}

img.index {
    height: 300px;
    width: 1300px;
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.menu {
    list-style-type: none;
    font-size: 4rem;
    text-align: center;
    color: black;
    line-height: 9rem;
    padding-left: 0;
}

.container:hover.index {
    background: black;
    color: #6e887c;
    font-weight: bolder;
 }

 .container:hover.index a  {
    background-color: black;
    color: #6e887c;
 }

 a.index {
    color: inherit;
    text-decoration: none;
    -webkit-user-select: none;
      /* Safari */
    -moz-user-select: none;
      /* Firefox */
    -ms-user-select: none;
      /* Internet Explorer/Edge */
    user-select: none;
      /* Standard */
 }

 @media (min-width: 768px) {
    img.index {
      height: 300px;
      width: 1300px;
    }
}