html, body, main {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    height: 100%;
}

main {
    /* So the body content isn't hidden in the fixed nav bar*/
    padding-top: 10rem;
}

.bg-dark {
    background-color: black !important;
    border-bottom: solid 1px white;
}

p {
    font-family:'Crimson Pro', serif;
    color: black;
}

a {
    color: white;
}

a.nav-link {
    font-size: 32px;
    font-weight: 800;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #DBCEB4 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F5F2EB !important;
    color: black !important;
    font-weight: bold;
    --bs-btn-border-color: black;
    --bs-btn-hover-border-color: #DBCEB4;
}