/* Shared CSS */

html, body, main {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    /* So the body content isn't hidden in the fixed nav bar*/
    padding-top: 8.75rem;
}

body {
    height: 100vh;
    background-color: white;
}

footer {
    background-color: black;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.95) !important;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}

p {
    font-family:'Crimson Pro', serif;
    color: black;
}

a {
    color: white;
}

a.nav-link {
    font-size: 32px;
    font-weight: 800;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #DBCEB4 !important;
}

.navbar {
    fill: white !important;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255);
    --bs-navbar-color: white;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    background-image: url("../img/Hamburger.svg") !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F5F2EB !important;
    color: black !important;
    font-weight: bold;
    --bs-btn-border-color: black;
    --bs-btn-hover-border-color: #DBCEB4;
}

@media (min-width: 768px) {
    main {
        /* So the body content isn't hidden in the fixed nav bar*/
        padding-top: 10rem;
    }
}
