/* Shared CSS */

html, body, main {
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica', sans-serif;
}

main {
    /* So the body content isn't hidden in the fixed nav bar*/
    padding-top: 8.75rem;
}

body {
    height: 100vh;
    background-color: white;
}

footer {
    background-color: black;
    bottom: 0;
    width: 100%;
}

.dark-bg {
    background-color: rgb(0, 0, 0);
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}

.footer-text {
    font-family: 'Inter';
    background-color: rgb(0, 0, 0);
    color: white;
}

p {
    font-family:'Crimson Pro', serif;
    color: black;
}

a {
    color: white;
}

a.nav-link {
    font-size: 32px;
    font-weight: 800;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #DBCEB4;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: grey;
}

.nav-tabs .nav-link {
    color: grey;
}

.navbar {
    fill: white;
    /* Overriding bootstrap properties */
    --bs-navbar-toggler-border-color: rgba(255, 255, 255);
    --bs-navbar-color: white;
    --bs-navbar-hover-color: yellow;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    background-image: url("../../public/img/Hamburger.svg");
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F5F2EB;
    color: black;
    font-weight: bold;
    --bs-btn-border-color: black;
    --bs-btn-hover-border-color: #DBCEB4;
}


/*                  */
/* Creating Page(s) */
/*                  */

.blackout-preview {
    background-color: rgba(0, 0, 0, 0.5);
}

.blackout {
    background-color: rgba(0, 0, 0);
    /* From https: //stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

textarea.form-control, .form-floating>.form-control {
    height: 213px;
    max-height: 213px;
    min-height: 213px;
}

textarea#description {
    height: 65px;
    max-height: 65px;
}

.clear-button {
    display: block;
}

.submit {
    background-color: #ACAAA3;
}

.creating-body {
    background-color: black;
}

.tab-selection {
    width: 100%;
}

.tab-item {
    border-top: 1px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tab-item h1 {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.tab-item p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-top: 1rem;
    color: white;
    padding-left: 0.5rem;
}

.p-source-adjustment {
    margin-bottom: 0.5rem;
}

.brand img {
    width: 250px;
    height: 110px;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.creation-header {
    border-top: 1px solid white;
    padding-top: 1rem;
}

.creation-header h1 {
    background-color: black;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
}

.preview-paper-words p {
    background-color: #DBCEB4;
}

.preview-paper {
    max-height:400px;
    min-height:400px;
    height:400px;
    background-color: #DBCEB4;
    overflow-wrap: break-word;
}

/*            */
/* About Page */
/*            */
/* body.about {
    background-color: #DBCEB4;
} */

main.about {
    height: 100%;
    margin-top: .5rem;
    background-color: #DBCEB4;
}

.container.about {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

/* header.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

img.card-image {
    border: 1px solid black;
    border-radius: 20px;
}

.card.about {
    /* height: 400px; */
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 0px 20px #000000;
}

article p {
    margin-bottom: 0;
    padding-bottom: .5rem;
}

article {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div.instructions {
    background-color: white;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

a.about {
    text-decoration: none;
}

a:hover.about {
    text-decoration: underline;
}

.card:hover {
    border: 2px;
}

.brand img {
    width: 250px;
    height: 110px;
}


/* Explore Main Page(s) */

body.explore-body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main.explore-main {
    display: inline-block;
    flex: 1;
    padding-top: 10rem;
}

html.explore {
    height: 100%;
}

/* left side of the screen, section with the search bar */
section.left-side {
    text-align: center;
}

/* right side of the screan, section with the cards */
section.right-side {
    flex: 1;
    padding: 1em;
}

/* css for the search bar on the left side of the explore page */
.history {
    display: none;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.search-bar {
    display: inline;
    background-color: white;
    text-align: center;
    padding: .75rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

button.search-history {
    text-decoration: none;
    background-color: #DBCEB4;
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;
    margin-left: 1rem;
}

/* this section is for the buttons at the top of the explore page */
/* New Lit, Poems, both, Filter, and Sort */
.filter-sort {
    position: static;
    /* fixed to the top-right corner */
    top: 4rem;
    right: 0;
    background-color: none;
}

.items {
    padding: 0;
}


.filter-check ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.filter-buttons {
    display: inline-block;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    margin: 0.5rem;
    background-color: #F5F2EB;
    border: 1px solid #726D6D;
    color: black;
    text-decoration: none;
}

.form-select.filter-buttons {
    width: 9rem;
}

.filter-buttons.active {
    background-color: #DBCEB4;
    border: 1px solid #726D6D;
}

.filter-buttons:hover {
    background-color: #DBCEB4;
}

/* filter dropdown checklist */
.filter-check li {
    text-align: left;
    list-style: none;
}

.filter-check input {
    margin: 0.5rem;
}

.filter-check {
    display: inline-block;
}

.filter-check .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
}

.filter-check .anchor:active:after {
    right: 8px;
    top: 21%;
}

/* for the cards of text, the lit and poems with descriptions */
.explore-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lit {
    padding: 1rem;
    box-sizing: auto;
}

.description-card {
    background-color: #DBCEB4;
    border-top: 1px solid #726D6D;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-radius: 0 0 9px 9px;
    color: black;
}


.description-card li {
    list-style-type: none;
}

.explore-card a {
    text-decoration: none;
}

.explore-card a:hover {
    text-decoration: none;
    color: inherit;
}

/* Explore 2 CSS */
body.explore-body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main.explore-main {
    flex: 1;
    padding-top: 10rem;
    min-height: 100vh;
    height: 100%;
}

/* right side of the screen, section with a preview of the card */
section.explore-preview {
    flex: 1;
    padding: 1em;
    background-color: white;
}

.explore-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    margin: 1rem;
    background-color: #F5F2EB;
    border: 1px solid #726D6D;
    height: 75%;
}

.explore-card-user-profile {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    margin: 1rem;
    background-color: #F5F2EB;
    border: 1px solid #726D6D;
    height: 75%;
}

/* left side of the screen, section with the description */
section.preview-tab{
    flex-basis: 300px;
    padding: 1em;
    background-color: #F5F2EB;
    display: block;
    background-color: black;
    text-align: center;
}

.preview-tab-splitter {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.preview-header{
    margin-top: 2rem;
}

.view-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 300px;
    box-sizing: auto;
    margin-bottom: 6rem;
}

.preview-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.preview-header h1 {
    margin-left:5vh;
    padding: 1rem;
    font-weight: bold;
}

.preview-text {
    width: auto;
    height: auto;
    background-color: #F5F2EB;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 1rem;
    box-shadow: 0px 0px 5px #000000;
}

.preview-text-words {
    font-size: 24px;
    padding: 1rem;
}

.description{
    box-sizing: border-box;
    border: 1px solid #726D6D;    
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-align: left;
}

.description li{
    list-style-type: none;
}
section.preview-tab, section.explore-preview {
    flex-basis: 28%;
}
footer.explore2-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Menu CSS */

div.menu {
    height: 95vh;
}

main.menu {
    padding: 0;
}

html.menu {
    width: 100%;
}

img.menu {
    height: 300px;
    width: 1300px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.options {
    list-style-type: none;
    font-size: 4rem;
    text-align: center;
    color: black;
    line-height: 9rem;
    padding-left: 0;
}

.container:hover.menu {
    background: black;
    color: #6e887c;
    font-weight: bolder;
}

.container:hover.menu a {
    background-color: black;
    color: #6e887c;
}

a.menu {
    color: inherit;
    text-decoration: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

/* User Profile */

.user-profile.flexbox-container {
    background-color: white;
    height: 100%;
}

.user-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info h1 {
    font-weight: bold;
}

.user-info img {
    margin-bottom: 50px;
}

.nav-item.user-tab a {
    color: rgb(0, 0, 0);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active{
    color: white; /* For the active tab */
}

.tab-content {
    display: flex;
    flex-direction: column;
}

.tab-pane {
    background-color: grey;
    flex: 1;
}

@media (min-width: 768px) {
    main {
        /* So the body content isn't hidden in the fixed nav bar*/
        padding-top: 10rem;
    }

    /* Menu CSS */

    img.menu {
        height: 300px;
        width: 1300px;
    }

    /*                  */
    /* Creating Page(s) */
    /*                  */
    .flexbox-container {
        flex-direction: row;
        height: 100vh;
    }

    section {
        flex-basis: 28%;
    }

    .brand img {
        width: 400px;
        height: 133px;
    }

    .creation-tab-splitter {
        background-color: black;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .tab-item {
        padding-top: 0;
    }

    .tab-item h1 {
        font-size: 32px;
        padding-top: 2rem;
        padding-left: 0;
    }

    .tab-item p {
        font-size: 24px;
        padding-left: 0;
    }

    .p-source-adjustment {
        margin-bottom: 0;
    }

    .tab-item select {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    section.creation-preview {
        flex-grow: 1;
        background-color: white;
    }

    .creation-container {
        display: flex;
        flex-direction: column;
    }

    .creation-header h1 {
        background-color: transparent;
        color: black;
        margin-left: 5vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .form-input-margin {
        margin-top: 1rem;
    }

    .preview-paper {
        width: 900px;
        height: 600px;
        max-height: 600px;
        min-height: 600px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: inset 0px 0px 5px #000000;
    }

    .preview-paper-words p {
        font-size: 24px;
        padding: 1rem;
        background-color: transparent;
    }

    .navigation-buttons {
        margin-top: 1rem;
        width: 100%;
    }

    /* Explore Main Page(s) */

    main.explore-main {
        display: flex;
    }

    .navigation-buttons {
        margin-top: 1rem;
        width: 100%;
    }

    /* left side of the screen, section with the search bar */
    section.left-side {
        flex-basis: 300px;
        padding: 1em;
        background-color: #F5F2EB;
        display: block;
    }

    /* css for the search bar on the left side of the explore page */
    .search-bar {
        display: block;
    }

    .history {
        display: flex;
        padding: 1rem;
        border-top: 1px solid #726D6D;
    }

    .history a {
        color: black;
        text-decoration: none;
        flex-grow: 3;
        flex-shrink: 0;
    }

    .history a:hover {
        color: #8b8371;
    }

    .delete {
        text-align: right;
    }

    .filter-sort {
        text-align: justify;
        margin-top: 3rem;
    }

    .filter-buttons {
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0.75rem;
    }

    /* Explore 2 Page*/
    .preview-container {
        flex-direction: row;
        height: 100vh;
    }

    .tab-item {
        padding-top: 0;
    }

    .preview-tab p {
        padding-top: 1rem;
        font-size: 24px;
    }

    .tab-item p {
        font-size: 24px;
        padding-left: 0;
    }

    .tab-item select {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .preview-container {
        flex-direction: row;
    }

    .preview-header{
        flex-direction: row;
    }

    .preview-text {
        width: 900px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    /* User Profile */

     .user-profile.flexbox-container {
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
     }

     .tab-pane {
        flex: 0;
     }

     /* for the about pages */
     .container.about {
        width: 100%;
        min-height: 100vh;
        height: 100%;
     }

     article {
        padding-left: 6rem;
        padding-right: 6rem;
     }
}
